<a href="https://colab.research.google.com/github/jeevankumar20/INFO_5731_Spring2023/blob/main/Jeevan_INFO5731_Assignment_Four.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment Four**

In this assignment, you are required to conduct topic modeling, sentiment analysis based on **the dataset you created from assignment three**.

# **Question 1: Topic Modeling**

(30 points). This question is designed to help you develop a feel for the way topic modeling works, the connection to the human meanings of documents. Based on the dataset from assignment three, write a python program to **identify the top 10 topics in the dataset**. Before answering this question, please review the materials in lesson 8, especially the code for LDA, LSA, and BERTopic. The following information should be reported:

(1) Features (text representation) used for topic modeling.

(2) Top 10 clusters for topic modeling.

(3) Summarize and describe the topic for each cluster.

In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.decomposition import LatentDirichletAllocation
from gensim import corpora
from gensim.models.ldamodel import LdaModel

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/jeevankumar20/INFO_5731_Spring2023/main/annotated_reviews.csv')
df

     document_id                                    Cleaned Reviews sentiment
0              1  strong suit first avatar movie sure story rete...  Positive
1              2  sequel design look match first film longer imp...  Positive
2              3  james cameron film impressive special effect c...  Positive
3              4  dumbest thing could possibly donesthey within ...  Positive
4              5  james cameron brings biggest disappointment ye...  Negative
..           ...                                                ...       ...
794          795  start visually marvel scenery character design...  Positive
795          796  ive never seen beautiful cinematography vfx us...  Positive
796          797  absolutley flabbergasted cgi effect movie wate...  Positive
797          798  opened early thailand wednesday morning tuesda...  Positive
798          799  true review film available released home video...  Positive

[799 rows x 3 columns]

In [3]:

from gensim import corpora
from gensim.models import LdaModel
from gensim.models.coherencemodel import CoherenceModel


# Tokenize the text
corpus = df['Cleaned Reviews'].apply(str.split)

# Create a dictionary with the corpus
dictionary = corpora.Dictionary(corpus)

# Convert corpus into a bag of words
bow_corpus = [dictionary.doc2bow(text) for text in corpus]

# Build the LDA model
num_topics = 10
lda_model = LdaModel(corpus=bow_corpus, id2word=dictionary, num_topics=num_topics, passes=10, alpha='auto')

# Print the top 10 clusters/topics
for index, topic in enumerate(lda_model.show_topics(num_topics=num_topics)):
    print(f"Topic {index}:")
    print(topic)

Topic 0:
(0, '0.004*"human" + 0.004*"plot" + 0.004*"one" + 0.003*"time" + 0.002*"first" + 0.002*"better" + 0.002*"nasty" + 0.002*"movie" + 0.002*"emperor" + 0.002*"kill"')
Topic 1:
(1, '0.016*"film" + 0.009*"avatar" + 0.009*"story" + 0.009*"one" + 0.009*"first" + 0.009*"character" + 0.008*"movie" + 0.007*"cameron" + 0.006*"jake" + 0.006*"way"')
Topic 2:
(2, '0.007*"story" + 0.006*"movie" + 0.005*"way" + 0.005*"water" + 0.005*"people" + 0.004*"avatar" + 0.003*"sully" + 0.003*"kid" + 0.003*"could" + 0.003*"every"')
Topic 3:
(3, '0.009*"movie" + 0.007*"human" + 0.007*"first" + 0.006*"family" + 0.006*"jake" + 0.006*"story" + 0.006*"avatar" + 0.006*"one" + 0.005*"like" + 0.005*"back"')
Topic 4:
(4, '0.032*"movie" + 0.015*"film" + 0.013*"first" + 0.012*"story" + 0.011*"avatar" + 0.011*"character" + 0.011*"one" + 0.010*"like" + 0.008*"time" + 0.008*"way"')
Topic 5:
(5, '0.004*"story" + 0.004*"film" + 0.004*"little" + 0.003*"good" + 0.003*"many" + 0.003*"see" + 0.003*"let" + 0.003*"character" + 0.003*"war" + 0.003*"movie"')
Topic 6:
(6, '0.014*"movie" + 0.011*"film" + 0.008*"one" + 0.008*"like" + 0.008*"avatar" + 0.007*"first" + 0.006*"cameron" + 0.006*"way" + 0.006*"character" + 0.005*"feel"')
Topic 7:
(7, '0.012*"avatar" + 0.012*"film" + 0.011*"like" + 0.006*"movie" + 0.006*"way" + 0.005*"cameron" + 0.004*"first" + 0.004*"water" + 0.004*"planet" + 0.004*"world"')
Topic 8:
(8, '0.013*"movie" + 0.012*"jake" + 0.010*"avatar" + 0.010*"film" + 0.008*"way" + 0.007*"water" + 0.007*"new" + 0.006*"story" + 0.006*"one" + 0.006*"get"')
Topic 9:
(9, '0.017*"movie" + 0.012*"story" + 0.011*"first" + 0.010*"one" + 0.010*"avatar" + 0.008*"like" + 0.007*"film" + 0.006*"make" + 0.006*"even" + 0.006*"character"')

In [4]:
corpus_lda = lda_model[bow_corpus]
num_topics = 10
scores = [[] for i in range(num_topics)]
for doc in corpus_lda:
    for i in range(num_topics):
        if len(doc) > i:
            scores[i].append(round(doc[i][1], 2))
        else:
            scores[i].append(0)

# Create data frame that shows scores assigned for each topic for each review
df_topic = pd.DataFrame()
df_topic['Text'] = df['Cleaned Reviews']
for i in range(num_topics):
    df_topic[f'Topic {i} score'] = scores[i]
df_topic['Topic'] = df_topic[[f'Topic {i} score' for i in range(num_topics)]].apply(lambda x: x.argmax(), axis=1)
df_topic.head(10)

,Text,Topic 0 score,Topic 1 score,Topic 2 score,Topic 3 score,Topic 4 score,Topic 5 score,Topic 6 score,Topic 7 score,Topic 8 score,Topic 9 score,Topic
0,strong suit first avatar movie sure story rete...,1.00,0.00,0.0,0.0,0.0,0,0,0,0,0,0
1,sequel design look match first film longer imp...,0.74,0.26,0.0,0.0,0.0,0,0,0,0,0,0
2,james cameron film impressive special effect c...,0.99,0.00,0.0,0.0,0.0,0,0,0,0,0,0
3,dumbest thing could possibly donesthey within ...,1.00,0.00,0.0,0.0,0.0,0,0,0,0,0,0
4,james cameron brings biggest disappointment ye...,1.00,0.00,0.0,0.0,0.0,0,0,0,0,0,0
5,hard believe sequel avatar actually come year ...,1.00,0.00,0.0,0.0,0.0,0,0,0,0,0,0
6,technically gorgeous story similarly emotional...,0.44,0.56,0.0,0.0,0.0,0,0,0,0,0,1
7,massive advertising make sure like many people...,0.41,0.59,0.0,0.0,0.0,0,0,0,0,0,1
8,loved first movie likely love movie thin story...,1.00,0.00,0.0,0.0,0.0,0,0,0,0,0,0
9,without question best cg work seen recent movi...,0.52,0.48,0.0,0.0,0.0,0,0,0,0,0,0

(30 points). Sentiment analysis also known as opinion mining is a sub field within Natural Language Processing (NLP) that builds machine learning algorithms to classify a text according to the sentimental polarities of opinions it contains, e.g., positive, negative, neutral. The purpose of this question is to develop a machine learning classifier for sentiment analysis. Based on the dataset from assignment three, write a python program to implement a sentiment classifier and evaluate its performance. Notice: **80% data for training and 20% data for testing**.  

(1) Features used for sentiment classification and explain why you select these features.

(2) Select two of the supervised learning algorithm from scikit-learn library: https://scikit-learn.org/stable/supervised_learning.html#supervised-learning, to build a sentiment classifier respectively. Note: Cross-validation (5-fold or 10-fold) should be conducted. Here is the reference of cross-validation: https://scikit-learn.org/stable/modules/cross_validation.html.

(3) Compare the performance over accuracy, precision, recall, and F1 score for the two algorithms you selected. Here is the reference of how to calculate these metrics: https://towardsdatascience.com/accuracy-precision-recall-or-f1-331fb37c5cb9.

1) In this implementation, I used the TF-IDF (Term Frequency-Inverse Document Frequency) vectorizer is used to preprocess the text data and select features for classification.

TF-IDF reflects the importance of a word in a document or corpus. It calculates a score for each word in the document based on its frequency (TF) in the document and its rarity (IDF) in the corpus.and creates a vector of these scores for each document in the corpus. These vectors can then be used as input features for machine learning algorithms and creates a vector of these scores for each document in the corpus. These vectors can then be used as input features for machine learning algorithms.

In [5]:
import pandas as pd
import warnings
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.naive_bayes import MultinomialNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
warnings.filterwarnings("ignore")
# load data

X = df['Cleaned Reviews']
y = df['sentiment']

# split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# preprocess text data using TF-IDF vectorizer
tfidf = TfidfVectorizer(stop_words='english')
X_train = tfidf.fit_transform(X_train)
X_test = tfidf.transform(X_test)

# select features for classification
features_train = X_train
features_test = X_test

# train and evaluate Naive Bayes classifier
nb = MultinomialNB()
nb.fit(features_train, y_train)
nb_preds = nb.predict(features_test)
nb_report = classification_report(y_test, nb_preds)

# train and evaluate Random Forest classifier
rf = RandomForestClassifier(n_estimators=100, random_state=42)
rf.fit(features_train, y_train)
rf_preds = rf.predict(features_test)
rf_report = classification_report(y_test, rf_preds)

# cross-validation scores for Naive Bayes and Random Forest
nb_scores = cross_val_score(nb, features_train, y_train, cv=5)
rf_scores = cross_val_score(rf, features_train, y_train, cv=5)

# print performance metrics
print('Naive Bayes Classification Report:\n', nb_report)
print('Random Forest Classification Report:\n', rf_report)
print('Naive Bayes Cross-Validation Scores:', nb_scores)
print('Random Forest Cross-Validation Scores:', rf_scores)

Naive Bayes Classification Report:
               precision    recall  f1-score   support

    Negative       0.00      0.00      0.00        19
    Positive       0.88      1.00      0.94       141

    accuracy                           0.88       160
   macro avg       0.44      0.50      0.47       160
weighted avg       0.78      0.88      0.83       160

Random Forest Classification Report:
               precision    recall  f1-score   support

    Negative       1.00      0.05      0.10        19
    Positive       0.89      1.00      0.94       141

    accuracy                           0.89       160
   macro avg       0.94      0.53      0.52       160
weighted avg       0.90      0.89      0.84       160

Naive Bayes Cross-Validation Scores: [0.890625   0.890625   0.8828125  0.8828125  0.88976378]
Random Forest Cross-Validation Scores: [0.890625   0.890625   0.8828125  0.8828125  0.88976378]

3) Looking at the classification reports and cross-validation scores for Naive Bayes and Random Forest, we can see that both algorithms achieved high accuracy in predicting the sentiment of the text.

However, when we examine the precision, recall, and F1-score metrics, we see that there are some differences between the two algorithms.

For Naive Bayes, the precision for predicting Negative sentiment was 0.00, meaning that none of the Negative sentiment predictions were correct. This resulted in a low F1-score for Negative sentiment (0.00).

On the other hand, Random Forest achieved a high precision for predicting both Positive and Negative sentiment, resulting in high F1-scores for both classes.

When we look at the cross-validation scores, we see that both algorithms achieved similar performance, with scores ranging from 0.88 to 0.89.

Overall, Random Forest appears to be the better algorithm for sentiment classification in this dataset, as it achieved higher precision, recall, and F1-score for both Positive and Negative sentiment, while maintaining high accuracy and similar cross-validation performance to Naive Bayes.

# **Question 3: House price prediction**

(40 points). You are required to build a **regression** model to predict the house price with 79 explanatory variables describing (almost) every aspect of residential homes. The purpose of this question is to practice regression analysis, an supervised learning model. The training data, testing data, and data description files can be download from canvas. Here is an axample for implementation: https://towardsdatascience.com/linear-regression-in-python-predict-the-bay-areas-home-price-5c91c8378878.

In [6]:
# Write your code here

import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import warnings
warnings.filterwarnings('ignore')


train = pd.read_csv('/content/train.csv')
test = pd.read_csv('//content/test.csv')

In [7]:
train

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [8]:
train.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [9]:
test

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [10]:
test.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
count,1459.000000,1459.000000,1232.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1444.000000,1458.000000,...,1458.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000
mean,2190.000000,57.378341,68.580357,9819.161069,6.078821,5.553804,1971.357779,1983.662783,100.709141,439.203704,...,472.768861,93.174777,48.313914,24.243317,1.794380,17.064428,1.744345,58.167923,6.104181,2007.769705
std,421.321334,42.746880,22.376841,4955.517327,1.436812,1.113740,30.390071,21.130467,177.625900,455.268042,...,217.048611,127.744882,68.883364,67.227765,20.207842,56.609763,30.491646,630.806978,2.722432,1.301740
min,1461.000000,20.000000,21.000000,1470.000000,1.000000,1.000000,1879.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000
25%,1825.500000,20.000000,58.000000,7391.000000,5.000000,5.000000,1953.000000,1963.000000,0.000000,0.000000,...,318.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2007.000000
50%,2190.000000,50.000000,67.000000,9399.000000,6.000000,5.000000,1973.000000,1992.000000,0.000000,350.500000,...,480.000000,0.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000
75%,2554.500000,70.000000,80.000000,11517.500000,7.000000,6.000000,2001.000000,2004.000000,164.000000,753.500000,...,576.000000,168.000000,72.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000
max,2919.000000,190.000000,200.000000,56600.000000,10.000000,9.000000,2010.000000,2010.000000,1290.000000,4010.000000,...,1488.000000,1424.000000,742.000000,1012.000000,360.000000,576.000000,800.000000,17000.000000,12.000000,2010.000000

In [11]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_squared_error, r2_score
import pandas as pd



# extract features and target variable
X = train.drop("SalePrice", axis=1)
y = train["SalePrice"]

# identify categorical features
cat_features = X.select_dtypes(include=['object']).columns.tolist()

# define column transformer to apply one-hot encoding
preprocessor = ColumnTransformer(
    transformers=[('cat', OneHotEncoder(handle_unknown='ignore'), cat_features)],
    remainder='passthrough')

# split data into 80-20 train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
# fill missing numerical values with mean
X_train.fillna(X_train.mean(), inplace=True)
X_test.fillna(X_test.mean(), inplace=True)

# fill missing categorical values with mode
X_train.fillna(X_train.mode().iloc[0], inplace=True)
X_test.fillna(X_test.mode().iloc[0], inplace=True)

# fit a linear regression model on the train set
lm = Pipeline(steps=[('preprocessor', preprocessor), ('regressor', LinearRegression())])
lm.fit(X_train, y_train)

# make predictions on the test set
y_pred = lm.predict(X_test)
print("Predicted House Prices: ",y_pred)

Predicted House Prices:  [111157.42073515 303244.12309656  49450.53428339 135092.8286368
 295598.52485442  17364.14968932 202498.14601255 105665.7563246
  12638.17072703 104229.02033447 102361.11171031  65057.90023656
  51348.49013592 180370.81421614 123041.40954705  91906.17087723
 141820.58252766  78063.2693486   78906.02489875 167633.20238095
 109636.40684354 161358.91445376 131224.51076025  88985.19078536
 161765.61992442  99185.31012568 155005.60148728  43791.23306542
 119193.54566119 163792.76630412  73496.14657419 220512.79618769
 173972.58862631  62541.23602905 200888.40957453 101896.8502265
  82608.56578322 163038.64647482 282383.8395715   86788.8694744
  93178.51551367 175444.15286966  58676.86753581 297780.99965437
  89208.69246158 109603.68625155  59738.26368787  96778.7145425
 355996.96940297  84183.1038723   79042.01283484 188877.87415223
  52424.66314941 224867.45974837 112983.87555741 185961.1289106
 168186.20812844 139968.01707532  89097.10581305  59065.33867672
  17565.47081928 133160.43080866 275212.71276827 220375.66803947
 267702.16040511 162222.81992039  53960.02164408 242541.9194318
  71476.32387559 123893.60613714  72696.19807565  79318.03644604
  62247.50535845  14036.29581152 384286.92075136 152362.01395368
 257391.53160364 307043.25935347 107905.06397406  66868.42484203
  72087.63989665  24166.61813106  75572.39136159  56138.66389635
 120721.0994372   98058.63327337 204091.03356868 171850.77794235
  82322.55341461 151531.72511246  73389.20631549  89028.36387585
 118185.30993411 229927.758585    71513.09303045 136715.23764978
 174568.5770264  137205.34356207 159708.64172952 227609.4883444
  83516.11949209 161340.79467674 217000.62183457  97525.59044091
 141315.38538778 151786.53627605 105653.20783516 238952.46522216
 110257.38737934 175663.16062107  15818.45278917 100953.10279477
 108049.54600273  91791.27700891 160584.7186542   84181.18289333
  60369.5577056   81087.68241189  80446.2691233  215603.90555919
  72844.84544513  85270.82214615 140584.33175431 135912.36505187
 142514.5697907   83475.01595913 181017.65616052  41643.66431922
 106897.11329657 149545.02100446 142081.7093996  269467.11649591
 155552.96481918 106503.93736396  17325.31539081 324036.42258361
 297629.57938848 100388.01306531 179635.41429472 494467.64894591
 300775.99440435  90817.24160798 140243.68048895  99736.97189048
  57036.42865488  62633.89421718 207721.06568439 152274.95400202
  77000.86381939  -4366.94415782  87951.22537174  67769.65386045
 216016.33900111 115952.12375178  24028.00668828  64613.66662488
  70756.79880646 114240.2727017   47962.76371608  97105.4134306
 183400.04518956  64780.33756909 240867.4094163  107413.93265052
  61081.07030422  93577.21145683 208831.56007518 281438.14866415
 368443.00673054 180140.59684139 330539.42500939  46409.65976584
  68390.6454186   99145.71053918 270619.87755054  70026.3457137
  75161.92671376 162175.96017227  89556.92287935 116801.12481905
 157253.36548952  87154.54883202  80896.46040057 111038.09113258
 187179.30133651  40699.79800803 189969.02722135 161860.83019297
 156578.87082147  27603.02695182  68420.58404503  63946.43208864
 103363.87166708 124747.13650756 157415.8360564  157325.09334275
 145413.46094768  64731.97639801 165064.70098047  86825.62029879
 212196.05430215 178511.68496142  55522.57304738 268389.95052241
 152935.68827066  71981.50251472 177854.0383592   92775.78162707
  73998.87242976  59143.86279514 171104.38122772 113116.57649209
  76514.48079632 123261.76482972 168138.24012578 202077.88121018
 163325.24695119  78324.44249397  78029.02654993  74522.30517369
  83289.77398584 174023.4952225  146087.69466462  51741.28785649
 192196.27281118  96997.63306328  38814.05488692  52129.7555044
 113464.26207504  74046.98806822  66618.06316218 117029.77504829
  73604.08874419  70007.04545724 190331.6348964  102329.28026891
 154705.91512197 120810.77003182 203278.56327099  66573.98482611
  70366.02535471 202824.40632213 181366.0187012  424557.73678245
 156149.22631716  83855.25195129  87091.67640657 121879.84884161
 100330.28097152  57378.89256671 118313.63881344 118842.11346871
 112130.10598624  80423.16752005  95645.21899291  82121.90819638
  52817.12415199  79281.44807851 132609.57010204 186920.1993724
 243159.03913139 142784.004742   104271.31632533 193801.37543562
 295839.80513068 184774.987951   109060.53930135  84201.16882912
  62917.42048474 145914.66815922 353441.72921668 195081.03864762
 184616.13792937  29594.15743481  34298.86286272  87910.64765318
  87084.85117725 261452.901833   204959.89242237  70066.52892572
 152787.52533343  66348.17995453 158970.51128704  69585.69597063
 252197.04899498 132681.38441872 158123.42833186  52574.16406137
 242233.05005824 150475.8322367   44225.9890546   76646.27057566]

In [12]:
from sklearn.metrics import mean_squared_error, r2_score
# compute the R-squared value
r2 = r2_score(y_test, y_pred)
r2

0.5891788940391561